<div class="new_post">
  <button type="button" (click)="backToFeed()">Back</button>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Créer un nouvel post</mat-card-title>
    </mat-card-header>    
    <form class="login-form" [formGroup]="postForm" (ngSubmit)="create()">
      <mat-form-field>
        <mat-label>Sélectionner un thème</mat-label>
        <mat-select formControlName="subject">
          @for (subject of (subjects$ | async); track subject) {
            <mat-option [value]="subject.id">{{ subject.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Titre post</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contenue post</mat-label>
        <input matInput formControlName="content">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">Créer'</button>
      @if (onError) {
          <p class="error" data-testid="error-message">An error occurred</p>
      }
    </form>
  </mat-card> 
</div>

