<div id="post-page">
  <button type="button" (click)="backToFeed()" data-testid="back-button" id ="back-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div id="post-content">
    @let post = (post$ | async);
    <h1 data-testid="title-post" class="title">{{ post?.title }}</h1>
    <div id="subtitle-post">
      <p data-testid="created-at" class="subtitle">Date : {{ post?.createdAt | date:'HH\'h\'mm dd/MM/yyyy'}}</p>
      <p data-testid="author" class="subtitle">Autor : {{ post?.author?.username }}</p>
      <p data-testid="subject" class="subtitle">Thème : {{ post?.subject?.name }}</p>
    </div>
    <mat-card-content>Content: {{ post?.content }} </mat-card-content>

    <hr>

    <h2 class="comments-title">Commentaires</h2>

    <div id="comments-section">
      @for (comment of post?.comments; track comment) {
        <div class="comment-container"> 
          <p data-testid="comment-author" class="comment-author">{{comment.author.username}}</p>
          <p data-testid="comment-content" class="comment-content">{{comment.content}}</p>        
        </div>
      }

      <form [formGroup]="commentForm" class="addComment">
        <textarea matInput formControlName="content" placeholder="Ecrivez ici votre commentaire" data-testid="comment-content-input" id="comment-field"></textarea>
        <button matIconButton (click)="comment()" data-testid="submit-comment-button" class="send-button">
          <img src="assets/send.png" alt="send" class="send-icon"/>
        </button>
      </form>
    </div>
  </div>
</div>