<button type="button" (click)="backToFeed()" data-testid="back-button">Back</button>
<div class="detailPost">
  <mat-card class="Post">
    @let post = (post$ | async);
    <mat-card-header>
          <mat-card-title data-testid="title-post">{{ post?.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
      <p data-testid="created-at"> Date : {{ post?.createdAt }} </p>
      <p data-testid="author"> Autor : {{ post?.author?.username }} </p>
      <p data-testid="subject"> Thème : {{ post?.subject?.name }} </p>
    </mat-card-subtitle>
    <mat-card-content> {{ post?.content }} </mat-card-content>
  </mat-card>
  <mat-card class="comment">
    <mat-card-subtitle>Commentaires</mat-card-subtitle>
    @for (comment of post?.comments; track comment) {
      <mat-card-content> 
        <p data-testid="comment-author">{{comment.author.username}} </p>
        <p data-testid="comment-content">{{comment.content}} </p>        
      </mat-card-content>
    }
  </mat-card>
  <mat-card class="addComment">
    <form [formGroup]="commentForm">
      <mat-form-field>
        <mat-label>Ecrivez ici votre commentaire</mat-label>
        <input matInput formControlName="content" data-testid="comment-content-input"/>
      </mat-form-field>
      <button matIconButton (click)="comment()" data-testid="submit-comment-button">
          <mat-icon>send</mat-icon>
        </button>
    </form>
  </mat-card>


</div>

